@{

  ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css?id=3" />
<script type="text/javascript" src="~/js/Home.js"></script>
<link rel="stylesheet" href="~/Styles/test.scss" />

<section>
  <table class="table-full background-home">
    <tr>
      <td class="half-nest">
        <h1 class="title-home frtest">Vous avez un essaim d'abeilles<br /><span> chez vous ?</span> </h1>
        <br />
        <span class="beekeeper-btn-contact">
          <button class="btn-home btn btn-primary btn-rounded" onclick="window.location.href='/Contacter/Apiculteur'">Contacter un apiculteur</button>
        </span>
      </td>
      <td>
      </td>
    </tr>
  </table>
</section>
<section class="prevention prevention-section">
  <div class="prevention-text-section">
    <table class="table-full">
      <tr>
        <td class="prevention-nest">
          <h2 class="prevention-home">Un essaim d'abeilles chez vous, que faire ? </h2>
          <br />
        </td>
        <td>
        </td>
      </tr>
    </table>
  </div>

  <div class="row" style="padding-right: 5%;">
    <div class="prevention-widget col-sm-3">
      <div class="prevention-img-div">
        <img src="~/img/unnamed1.png" class="prevention-img" alt="Logo-abeille" />
      </div>
      <div class="">
        <h3 class="prevention-title">
          Identifier l’essaim
        </h3>
      </div>
      <div class="prevention-text">
        <h6>
          Est-ce un essaim d’abeilles, de guêpes, de frelons ou de bourdons ? Comment les identifier
        </h6>
      </div>
    </div>
    <div class="prevention-widget col-sm-3">
      <div class="prevention-img-div">
        <img src="~/img/unnamed2.png" class="prevention-img" alt="Logo-abeille" />
      </div>
      <div class="">
        <h3 class="prevention-title">
          Être prudent
        </h3>
      </div>
      <div class="prevention-text">
        <h6>
          Un essaim d’abeilles ne manifeste aucune agressivité. Toutefois soyez prudent, il est formellement déconseillé d’intervenir sois-même. Ne laissez pas les enfants s’approcher et les animaux (surtout les chiens).
        </h6>
      </div>
    </div>
    <div class="prevention-widget col-sm-3">
      <div class="prevention-img-div">
        <img src="~/img/unnamed3.png" class="prevention-img" alt="Logo-abeille" />
      </div>
      <div class="">
        <h3 class="prevention-title">
          Ne pas le détruire
        </h3>
      </div>
      <div class="prevention-text">
        <h6>
          Il interdit de détruire les essaims à coups d'insecticides. Vous mettrez en péril le nid, votre sécurité et vous vous placez dans l’illégalité. Les abeilles sont protégées par la loi.
        </h6>
      </div>
    </div>
    <div class="prevention-widget col-sm-3">
      <div class="prevention-img-div">
        <img src="~/img/unnamed4.png" class="prevention-img" alt="Logo-abeille" />
      </div>
      <div class="">
        <h3 class="prevention-title">
          Remplir le formulaire
        </h3>
      </div>
      <div class="prevention-text">
        <h6>
          Entrez toutes les infos nécessaires. Nous vous mettrons en relation avec un Apiculteur Professionnel proche de chez vous.
        </h6>
      </div>
    </div>
  </div>

</section>
<section class="benefits benefits-section">
  <div class="prevention-text-section">
    <table class="table-full">
      <tr>
        <td class="prevention-nest">
          <h2 class="prevention-home">Quels avantages ? </h2>
          <br />
        </td>
        <td>
        </td>
      </tr>
    </table>
  </div>

  <div class="row" style="height:270px;">
    <div class="col-sm-4" style="background-color:white; margin-left: 7%;">
      <img src="~/img/money.png" style="width: 40%; margin-left: 25%; margin-top:2%;" />
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <h3 class="benefits-title">Intervention gratuite </h3>
      <div class="prevention-text">
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ipsum nunc. Ut pulvinar nunc ut leo commodo semper. Vestibulum.</h6>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="row" style="height:270px;">
    <div class="col-sm-4" style="margin-left:6%;">
      <h3 class="benefits-title">Préserver la biodiversité </h3>
      <div class="prevention-text">
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ipsum nunc. Ut pulvinar nunc ut leo commodo semper. Vestibulum.</h6>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4" style="background-color:white; margin-left: 1%;">
      <img src="~/img/flowers.png" style="width: 40%; margin-left: 25%; margin-top:2%;" />
    </div>
  </div>
  <br /><br />
  <div class="row" style="height:270px;">
    <div class="col-sm-4" style="background-color:white; margin-left: 7%;">
      <img src="~/img/honey.png" style="width: 40%; margin-left: 25%; margin-top:2%;" />
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
      <h3 class="benefits-title">Enrichir les ruches de vos apiculteurs locaux </h3>
      <div class="prevention-text">
        <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ipsum nunc. Ut pulvinar nunc ut leo commodo semper. Vestibulum.</h6>
      </div>
    </div>
  </div>

</section>
<script type="text/javascript">

  document.addEventListener('DOMContentLoaded', (event) => {
    showSlides(1);
  })
</script>