@{
  ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css?id=3" />

<section>
  <table class="table-full background-home">
    <tr>
      <td class="half-nest">
        <h1 class="title-home">Vous avez un essaim d'abeilles chez vous ? </h1>
        <br />
        <span class="beekeeper-btn-contact">
          <button class="btn-home" onclick="window.location.href='/Contacter/Apiculteur'">Contacter un apiculteur</button>
        </span>
      </td>
      <td>
      </td>
    </tr>
  </table>  
</section>
<section class="prevention prevention-section">
  <div class="prevention-text-section">
    <table class="table-full">
      <tr>
        <td class="prevention-nest">
          <h2 class="prevention-home">Un essaim d'abeilles chez vous, que faire ? </h2>
          <br />
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td colspan="1">
              <div class="prevention-widget col-sm-3">
                <div class="row prevention-img-dev">
                  <img src="~/img/unnamed1.png" class="prevention-img" alt="Logo-abeille" />
                </div>
                <div class="row">
                  <h3 class="prevention-title">
                    Identifiez l’essaim
                  </h3>
                </div>
                <div class="row prevention-text">
                  <h6>
                    Est-ce un essaim d’abeilles, de guêpes, de frelons ou de bourdons ? Comment les identifier
                  </h6>
                </div>
              </div>
              <div class="prevention-nest prevention-widget col-sm-1">
                <div class="row prevention-img-dev">
                  <img src="~/img/unnamed2.png" class="prevention-img" alt="Logo-abeille" />
                </div>
                <div class="row">
                  <h3 class="prevention-title">
                    Soyez prudent
                  </h3>
                </div>
                <div class="row prevention-text">
                  <h6>
                    Un essaim d’abeilles ne manifeste aucune agressivité. Toutefois soyez prudent, il est formellement déconseillé d’intervenir sois-même. Ne laissez pas les enfants s’approcher et les animaux (surtout les chiens).
                  </h6>
                </div>
              </div>
              <div class="prevention-nest prevention-widget col-sm-3">
                <div class="row prevention-img-dev">
                  <img src="~/img/unnamed3.png" class="prevention-img" alt="Logo-abeille" />
                </div>
                <div class="row">
                  <h3 class="prevention-title">
                    Ne le détruisez pas
                  </h3>
                </div>
                <div class="row prevention-text">
                  <h6>
                    Il interdit de détruire les essaims à coups d'insecticides. Vous mettrez en péril le nid, votre sécurité et vous vous placez dans l’illégalité. Les abeilles sont protégées par la loi.
                  </h6>
                </div>
              </div>
              <div class="prevention-nest prevention-widget col-sm-3">
                <div class="row prevention-img-dev">
                  <img src="~/img/unnamed4.png" class="prevention-img" alt="Logo-abeille" />
                </div>
                <div class="row">
                  <h3 class="prevention-title">
                    Remplissez le formulaire
                  </h3>
                </div>
                <div class="row prevention-text">
                  <h6>
                    Entrez toutes les infos nécessaires. Nous vous mettrons en relation avec un Apiculteur Professionnel proche de chez vous.
                  </h6>
                </div>
              </div>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

</section>
