@{
  ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css?id=3" />

<div>
  <table class="table-full background-home">
    <tr>
      <td class="half-nest">
        <h1 class="title-home">Vous avez un essaim d'abeilles chez vous ? </h1>
        <br />
        <span class="beekeeper-btn-contact">
          <button class="btn-home" onclick="window.location.href='/Contacter/Apiculteur'">Contacter un apiculteur</button>
        </span>
      </td>
      <td>
      </td>
    </tr>
  </table>
  
</div>
