################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/NctTest/NctTest/.vs/NctTest/v16/Server/sqlite3/db.lock
/NctTest/NectarWeb/.vs/NectarWeb/v16/.suo
/NctTest/NectarWeb/.vs/NectarWeb/DesignTimeBuild/.dtbcache
/NctTest/NectarWeb/.vs/NectarWeb/v16/Server/sqlite3/storage.ide
/NctTest/NectarWeb/.vs/NectarWeb/v16/Server/sqlite3/storage.ide
/NctTest/NectarWeb/.vs/NectarWeb/v16/Server/sqlite3/storage.ide
/NctTest/NectarWeb/.vs/NectarWeb/v16/Server/sqlite3/storage.ide-wal
