.about-div-contact {
    background-image: url(/img/ContactsUs-Honey.png);
    height: 1440px;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0% 0%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: #db9044;
}

.about-table {
    align-content: center;
    position: relative;
    border-bottom-color: aquamarine;
    border-top-color: aqua;
    border-left-color: black;
    border-right-color: black;
    text-align: center;
    border: solid;
}

table, th, td {
    width: 100%;
    border: 1px solid aqua;
}

.about-tr {
    width: 30%;
}

.about-tr-left {
    width: inherit;
    margin-left: 30% !important;
}

.about-tr-center {
    width: inherit;
    margin-left: 30% !important;
}

.about-tr-right {
    width: inherit;
    margin-left: 30% !important;
}