.about-div-contact {
    background-image: url(/img/ContactsUs-Honey.png) !important;
    height: 1440px !important;
    text-align: center !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto !important;
    background-position: 0% 0% !important;
    font-family: Arial, Helvetica, sans-serif !important;
    position: relative !important;

    background-color: #db9044 !important;
}

.about-table {
    width: 100% !important;
    align-content: center !important;
    position: relative !important;
    border-bottom-color: black !important;
    border-top-color: black !important;
    border-left-color: black !important;
    border-right-color: black !important;
    text-align: center !important;
    border: solid !important;
}

table, th, td {
    border: 1px solid black;
}