.exampleInputEmail1 {
  border: 0px 0px 0px 1px solid #ced4da !important;
}

.divSubscription {
  background-image: url(/img/bgform-white.png);
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-primary {
  background-color: orange !important;
  color: black;
  border: 0px !important;
}

  .btn-primary :hover {
    background-color: yellow !important;
    color: black;
    border: 0px !important;
  }

  .btn :hover {
    background-color: yellow !important;
    color: black !important;
    border: 0px !important;
  }
