.exampleInputEmail1 {
  border: 0px 0px 0px 1px solid #ced4da !important;
}

.divSubscription {
  background-image: url(/img/bgform-white.png);
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-primary {
  background-color: orange !important;
  color: black;
  border: 0px !important;
}

  .btn-primary :hover {
    background-color: yellow !important;
    color: black;
    border: 0px !important;
  }

  .btn :hover {
    background-color: yellow !important;
    color: black !important;
    border: 0px !important;
  }

.form-center {
  text-align: center;
  margin: 0 37% 0 37%;
}

.background-bgform {
  background-image: url(/img/bgform-color.png);
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-repeat: no-repeat;
}

.resize-swarm {
  width: 150px !important;
  border-radius: 50%;
  box-shadow: 5px 10px 18px #888888;
}

.padding-img {
  padding: 0 15px;
}


.bg-overlay {
  background: rgba(0,0,0, .7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.background-bksearch-form {
  min-height: 100vh;
  background-image: url('../../img/apiculteursetabeilles.jpg');
  background-size: cover;
}