.cgu-div-center {
  background-image: url(/img/bgform-white.png) !important;
  text-align: center !important;
  background-position: bottom !important;
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  background-position: 0% 100% !important;
}

.cgu-p {
  font-family: Arial, Helvetica, sans-serif !important;
  margin: 0 25% 0 25% !important;
  text-justify: auto !important;
  position: relative !important;
  text-align: left !important;
}
