.form-center {
  text-align: center;
  margin: 0 37% 0 37%;
}

.background-bgform {
  background-image: url(/img/bgform-color.png);
  width: 100%;
  height: 1000px;
  background-size:cover;
  background-repeat: no-repeat;
}

.resize-swarm {
  width: 150px!important;
  border-radius: 50%;
  box-shadow: 5px 10px 18px #888888;
}

.padding-img {
  padding: 0 15px;
}

.bg-overlay {
  background: rgba(0,0,0, .7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.background-bksearch-form {
  min-height: 100vh;
  background-image: url('../../img/intervention.jpg');
  background-size: cover;
}

.form-container {
  padding-left: 10%;
  padding-right: 10%;
}

.questions {
  font-size: 24px;
}

@media all and (min-width: 1024px) and (max-width: 1600px) {
    .questions {
        font-size: 16px;
    }
}

.title-form {
  font-family: Coolvetica;
  font-size: 95px!important;
}

.subtitle-form {
  font-family: Avenir;
  font-size: 30px!important;
}

.prev-img-1 {
  background: url('/img/unnamed1-dark.png') no-repeat center center;
  background-size: contain;
  height: 150px;
  margin-bottom: 19px;
}

  .prev-img-1:hover {
    background: url('/img/unnamed1.png') no-repeat center center;
    background-size: contain;
    height: 150px;
    margin-bottom: 19px;
  }

.prev-img-2 {
  background: url('/img/unnamed2-dark.png') no-repeat center center;
  background-size: contain;
  height: 150px;
  margin-bottom: 18px;
}

  .prev-img-2:hover {
    background: url('/img/unnamed2.png') no-repeat center center;
    background-size: contain;
    height: 150px;
    margin-bottom: 18px;
  }

.prev-img-3 {
  background: url('/img/unnamed3-dark.png') no-repeat center center;
  background-size: contain;
  height: 158px;
  margin-bottom: 10px;
}

  .prev-img-3:hover {
    background: url('/img/unnamed3.png') no-repeat center center;
    background-size: contain;
    height: 158px;
    margin-bottom: 10px;
  }

.prev-img-4 {
  background: url('/img/unnamed4-dark.png') no-repeat center center;
  background-size: contain;
  height: 162px;
  margin-bottom: 6px;
}

  .prev-img-4:hover {
    background: url('/img/unnamed4.png') no-repeat center center;
    background-size: contain;
    height: 162px;
    margin-bottom: 6px;
  }

/*header {
  background: url('../../img/intervention.jpg') no-repeat center center !important;
}*/