
@{
  ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/pages/Beekeeper.css" />
<link rel="stylesheet" href="~/css/home.css" />

<section>
  <table class="table-full beekeeper-home">
    <tr>
      <td class="half-nest">
        <h1 class="beekeeper-home-title title-home" style="color: white!important;">Accompagnez-nous<br />Devenez partenaire </h1>
        <br />
        <span class="beekeeper-btn-contact">
          <button class="btn-home btn btn-primary btn-rounded btn-contact-beekeeper" onclick="window.location.href='/Apiculteur/Inscription'">Contacter un apiculteur</button>
        </span>
      </td>
      <td>
      </td>
    </tr>
  </table>
</section>