
@{
    ViewData["Title"] = "Merci pour votre inscription | Abeille Essaim";
    ViewData["MetaDescription"] = "Merci pour votre inscription. Vous allez recevoir un mail de confirmation. Nous vous mettrons en relation avec des particuliers proche de chez vous.";
}

  <div class="jumbotron text-center">
    <h1 class="display-3">Merci de faire confiance à Nectar</h1>
    <p class="lead"><strong>Veuillez consulter vos e-mails.</strong></p>
    <hr>
    Un problème ? <a href="">Contactez-nous</a>
    @*<p class="lead">
      <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continuer sur notre blog</a>
    </p>*@
  </div>

