@model int
@{
    ViewData["Title"] = "Erreur";
}
<link rel="stylesheet" href="~/css/pages/Error.css?id=2" type="text/css" />
<link rel="stylesheet" href="~/css/site.css" type="text/css" />

<div style="text-align: center;">
    <div class="row">
        <img src="~/img/unnamed1.png" alt="Erreur Nectar" class="img-error" />
    </div>
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <h1 class="title-main">Page not found</h1>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <h2 class="subtitle-main">The page you are looking for doesn't exist or has been removed</h2>
        </div>
        <div class="col-sm-4">

        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-4">

        </div>
        <div class="col-sm-4">
            <input type="button" class="btn btn-home btn-error-back" value="Back" href="~/" />
        </div>
        <div class="col-sm-4">

        </div>
    </div>

</div>