
@{
    ViewData["Title"] = "About";
}


<head>
    <link rel="stylesheet" href="~/css/pages/About.css" type="text/css" />
</head>
<div class="about-div-contact">
    <table class="about-table">
        <tr class="about-tr-left">
            <td>10</td>
            <td>1A</td>
            <td>1B</td>
        </tr>
        <tr class="about-tr-left">
            <td>20</td>
            <td>
                2A
                <h1>À propos de</h1>
                <br />
                <br />
                <h2>Qui sommes nous ? </h2>
                <br />
                <br />
                Nectar est une solution de mise en relation entre particuliers et apiculteurs professionnels.
                <br />
                Notre vision est de conserver le patrimoine de la biodiversité et de lutter face à la mortalité
                <br />
                exceptionnelle des abeilles 🐝
                <br />
            </td>
            <td>2B</td>
        </tr>
        <tr class="about-tr-left">
            <td>30</td>
            <td>3A</td>
            <td>3B</td>
        </tr>

    </table>
</div>