
@{
  ViewData["Title"] = "Necar - FAQ";
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="~/css/pages/FAQ.css" />
<script type="text/javascript" src="~/js/pages/FAQ.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="section-title text-center wow zoomIn">
        <h1>Frequently Asked Questions</h1>
        <span></span>
        <p>Les questions les plus fréquentes.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Qui sommes nous ?
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <p>Nectar est une solution de mise en relation entre particuliers et apiculteurs. Notre vision est de conserver le patrimoine de la biodiversité et de lutter face à la mortalité exceptionnelle des abeilles. 🐝</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Comment faire si j'ai un essaim d'abeille chez moi ?
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <p>
                            "Surtout pas de panique 🙂
                            <b>1. Identifiez l’essaim. </b>Est-ce un essaim d’abeilles, de guêpes, de frelons ou de bourdons ? Comment les identifier
                            <b>2. Soyez prudent.</b> Un essaim d’abeille ne manifeste aucune agressivité. Toutefois soyez prudent, il est formellement déconseillé d’intervenir sois-même. Ne laissez pas les enfants s’approcher et les animaux (surtout les chiens).
                            <b>3. Ne le détruisez pas. </b>Il interdit de détruire les essaims à coups d'insecticides. Vous mettrez en péril le nid, votre sécurité et vous vous placez dans l’illégalité. Les abeilles sont protégées par la loi.
                            <b>4. Remplissez le formulaire :</b> Entrez toutes les informations nécessaires ici. Nous vous proposerons une selection d'apiculteur proche de chez vous. Ils seront ravis de vous aider 😊"
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Pourquoi utiliser Nectar pour contacter un apiculteur ?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <p>
                            <b>Intervention gratuite </b><br />
                            Les pompiers ne viendront pas à votre domicile et si ils le font, le coût sera très onéreux. Faîtes appel à un apiculteur proche de chez vous grâce à Nectar. L’intervention sera gratuite et vous permettrez à cet apiculteur de re-peupler ces ruches. Il pourrait même vous remercier avec une donation (pots de miel ou même financier) pour l’avoir contacté 😊.
                            <br /><br />
                            <b>Préserver la biodiversité</b><br />
                            40% des espèces d'abeilles sauvages sont en voie de disparition. Les causes ? En grande partie à la pratique de l'agriculture intensive avec l’utilisation de nombreux produits chimiques (insecticides, pesticides, engrais chimiques, etc…) et la dégradation des régions forestières.
                            Les abeilles sont en déclins depuis de nombreuses années et de nombreux essaims sauvages sont malheureusement détruits.
                            <br /><br />
                            <b>Enrichir les ruches de nos apiculteurs partenaires</b><br />
                            Un essaim non récupéré est perdu. Contactez un apiculteur et permettez leur de pérenniser leur cheptel. Ils sauveront l’essaim en changeant la reine, soit en le regroupant avec un autre essaim."
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Quelles interventions puis-je demander sur Nectar ?
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                        <p>Nos apiculteurs sont dans la capacité de vous accompagner dans des interventions d'essaims d'abeilles, uniquement. L'objectif de Nectar est de repeupler les ruches de nos apiculteurs. Cependant, vous pouvez tout de même demander à un de nos apiculteurs si il est dans la capacité de faire des interventions d'essaims de guêpes ou de frelons. </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Est-ce un service payant ?
                        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                        <p>Le service est totalement gratuit, aucun frais. Au contraire, les apiculteurs pourront même vous remercier avec une donation (pots de miel ou financière) de les avoir contactés.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Qui sont les apiculteurs ?
                        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                        <p>Nous avons plus de 3000 apiculteurs recensés dans notre base de données. Ce sont des apiculteurs amateurs, semi-pro ou professionnel de toutes régions mais qualifiés pour l'intervention d'essaims d'abeilles.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Dans quel secteur les apiculteurs peuvent-ils intervenir ?
                        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body">
                        <p>Partout en France ! 😊 Avec plus de 3000 apiculteurs recensés dans Nectar, vous n'aurez pas de difficulté à trouver un apiculteur tout proche de chez vous ! </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingHeight">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseHeight" aria-expanded="false" aria-controls="collapseHeight">
                            J'ai rempli le questionnaire, comment ça marche ?
                        </a>
                    </h4>
                </div>
                <div id="collapseHeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingHeight">
                    <div class="panel-body">
                        <p>Dans un premier temps, il est primordial de remplir toutes les informations nécessaires dans le questionnaire pour vous mettre en relation avec le bon apiculteur. Après avoir validé le questionnaire, 5 apiculteurs vous seront proposés. Vous n'aurez plus qu'à les contacter pour convenir d'un rendez-vous.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingNine">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            Je suis apiculteur et souhaite proposer mes services, comment faire ?
                        </a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
                    <div class="panel-body">
                        <p>
                            Remplissez le formulaire. Entrez toutes les infos nécessaires dans le formulaire ici. Notre équipe se chargera de valider votre profil sous 24h.

                            Validation de votre inscription. Notre équipe vous enverra un e-mail de confirmation sous 24h. Dès lors, vous serez inscrit dans notre base et visible auprès
                            des particuliers dans le besoin.

                            Intervenez chez les particuliers. Bénéficiez de la puissance de communication de Nectar pour vous mettre en relation avec des particuliers pour la récupération d'essaims d'abeilles. Ils vous contacteront directement pour  convenir d’un rendez-vous.
                        </p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTen">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                            Je suis apiculteur, mon inscription a été validée, comment ça se passe ensuite ?
                        </a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                    <div class="panel-body">
                        <p>Super ! Votre inscription a été validée, vous êtes désormais visible sur notre site internet. Dès lors qu'un particulier dans le besoin fera une recherche dans votre région, il aura le choix entre 5 apiculteurs.</p>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingEleven">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                            Je suis apiculteur, je reçois un appel, que faire ?
                        </a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                    <div class="panel-body">
                        <p>Dès que vous recevrez un appel d'un particulier dans le besoin, identifiez toutes les problématiques (quel type d'essaim, localisation de l'essaim, etc..) et convenez d'un rendez-vous avec le particulier. À la fin de l'intervention, nous recommandons généralement aux apiculteurs de remercier avec une donation la personne qui vous a contacté. </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!--- END COL -->
  </div><!--- END ROW -->
</div>
